<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tam Finans Test Projesi</title>
    <link rel="shortcut icon" href="#">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p><h2>Library</h2></p><br>
            <form method="POST">
                <div class="form-group">
                    <label for="name">Enter Your Name</label>
                    <input type="text" id="name" name="name" required />
                </div>
                <div class="form-group">
                    <label for="surname">Enter your surname:</label>
                    <input type="text" id="surname" name="surname" required />
                </div>
                <div class="form-group">
                    <label for="studentId">Enter your student id:</label>
                    <input type="text" id="studentId" name="studentId" required />
                </div>
                <div class="form-group">
                    <label for="password">Enter your password:</label>
                    <input type="text" id="password" name="password" required />
                </div>
                <div class="form-group">
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>